.test__text {
  margin: 108px 65px 65px 194px;
}

@media screen and (max-width: 889px) {
  .test__text {
    margin: 0;
    position: absolute;
    top: -40px;
    left: 74px;
  }
}

@media screen and (max-width: 610px) {
  .test__text {
    top: 46px;
    left: 34px;
  }
}
