.header__pazzle {
    margin: 22px 0 0 0;
}

@media screen and (max-width:850px) {
    .header__pazzle {
        width: 55px;
        margin: 25px 0 0 4px;
    }
}

@media screen and (max-width:639px) {
    .header__pazzle {
        margin: 57px 0 0 4px;
    }
}