.project-cards__title {
  font-family: 'GolosUI-Bold', 'Arial', 'Helvetica', sans-serif;
  text-transform: uppercase;
  max-width: 140px;
  color: #fefefe;
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  text-align: center;
  position: absolute;
  margin: 0 auto;
  top: 35%;
}

@media all and (max-width: 840px) {
  .project-cards__title {
    font-size: 14px;
  }
}

@media all and (max-width: 620px) {
  .project-cards__title {
    font-size: 10px;
    max-width: 80px;
  }
}
