.header__links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 23px 20px 0 10px;
}

@media screen and (max-width:850px) {
    .header__links {
        display: none;
    }
}