.header__menu {
  display: none;
}

@media screen and (max-width: 850px) {
  .header__menu {
    grid-area: article;
    display: block;
    margin: 31px 0 0 32px;
    z-index: 1;
  }
}

@media screen and (max-width: 639px) {
  .header__menu {
    grid-area: header;
    width: 44px;
    margin: 28px 24px 0 0;
    justify-self: end;
  }
}
