.header__link_type_button {
  font-size: 10px;
  line-height: 1;
  font-family: Golos, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #2B2A29;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
}

.header__link_type_button:hover {
  border-bottom: 2px solid #6D097A;

}


@media screen and (max-width:850px) {
  .header__link_type_button {
    font-size: 8px;
  }
}

@media screen and (min-width:1280px) {
  .header__link_type_button {
    font-size: 16px;
  }
}
