.splide__arrow {
  z-index: 3;
  background: none;
  transform: none;
  background-repeat: no-repeat;
  width: 12px;
  height: 23px;
  background-size: contain;
}

@media (max-width: 840px) {
  .splide__arrow {
    width: 9.86px;
    height: 19.73px;
  }
}

@media (max-width: 620px) {
  .splide__arrow {
    width: 8.76px;
    height: 17.51px;
  }
}
