.definition__img-puzzle {
  position: absolute;
  top: 145px;
  left: 51px;
}

@media screen and (max-width: 889px) {
  .definition__img-puzzle {
    top: 135px;
  }
}

@media screen and (max-width: 610px) {
  .definition__img-puzzle {
    top: 138px;
    left: 10px;
    width: 20%;
    z-index: 1;
  }
}

