.header__section-links {
    grid-area: article;
    background-image: url(../../../images/pietro-schellino-MeQ6cKkozpY-unsplash\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

@media screen and (max-width:639px) {
    .header__section-links {
        height: 259px;
    }
}