.header {
  font-family: Golos, Arial, Helvetica, sans-serif;
  max-width: 960px;
  height: 465px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
  "header header article article"
  "info page article article"
  "test page article article"
  "button page article article";
}
