.header {
  font-family: Golos, Arial, Helvetica, sans-serif;
  max-width: 960px;
  height: 465px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
  "header header article article"
  "info page article article"
  "test page article article"
  "button page article article";
}

@media screen and (max-width:850px) {
  .header {
    height: 403px;
  }
}

@media screen and (max-width:639px) {
  .header {
    height: 647px;
    max-width: 320px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 97px) repeat(2, 98px) 1fr;
    grid-template-areas:
      "header header"
      "info page"
      "test page"
      "button page"
      "article article";
  }
}
