.fund__container-logo {
  width: 190.32px;
  height: 234.27px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
}

@media (max-width: 840px) {
  .fund__container-logo {
    width: 151.2px;
    height: 226.9px;
    margin-right: 35px;
  }
}

@media (max-width: 620px) {
  .fund__container-logo {
    width: 93.08px;
    height: 144.12px;
    position: absolute;
    left: 20.93px;
    bottom: 0;
    margin: 0;
  }
}
