.header__info-links {
  list-style-type: none;
  padding: 3px 0 0 14px;
  margin: 8px 0 0 0;
}

@media screen and (max-width: 850px) {
  .header__info-links {
    padding: 0;
    margin: 5px 0 0 1px;
  }
}
