.test__header {
  font-family: 'GolosUI-Bold', 'Arial', 'Helvetica', sans-serif;
  margin: 0;
  width: 161px;
  font-size: 29.46px;
  line-height: 29.46px;
  font-weight: 700;
  text-align: right;
  text-transform: uppercase;
  align-items: flex-end;
  color: #6D097A;
}

@media screen and (max-width: 889px) {
  .test__header {
    font-size: 23.59px;
    line-height: 23.59px;
    width: 129px;
  }
}

@media screen and (max-width: 610px) {
  .test__header {
    font-size: 14.42px;
    line-height: 14.42px;
    width: 80px;
  }
}
