.slider__button {
  width: 12px;
  height: 23px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 840px) {
  .slider__button {
    width: 10px;
    height: 20px;
  }
}

@media (max-width: 620px) {
  .slider__button {
    width: 8.7px;
    height: 17px;
  }
}
