.map__map-image {
    margin-bottom: 82px;
}

@media (max-width: 960px) {
    .map__map-image {
        margin-left: 128px;
        width: 71.98vw;
    }
}

@media (max-width: 640px) {
    .map__map-image {
        width: 86.25vw;
        margin-bottom: 60px;
        margin-left: 45px;
    }
}

@media (max-width: 320px) {
    .map__map-image {
        margin-bottom: 26px;
        margin-left: 16px;
        width: 91.25vw;
    }
}
