.map__map-image {
    background-image: url(../../../images/map/151-layers.svg);
    background-repeat: no-repeat;
    margin-bottom: 92px;
    margin-left: 128px;
    width: 681px;
    height: 359px;
}

@media (max-width: 640px) {
    .map__map-image {
        margin-bottom: 0px;
        margin-left: 0px;
        transform: scale(0.75);
    }
}
