.news__background {
  display: flex;
  justify-content: center;
  max-width: 95%;
  height: 350px;
  background-color: #6d097a;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 26px;
  margin-bottom: -53px;
  z-index: 2;
}

@media all and (max-width: 840px) {
  .news__background {
    max-width: 88%;
    height: 241px;
    margin-bottom: -105px;
  }
}

@media all and (max-width: 620px) {
  .news__background {
    max-width: 86%;
    padding-top: 21px;
    height: 190px;
    margin-bottom: -50px;
  }
}
