.slider__button-right {
  background-image: url(../../../images/button-slider-right.svg);
  position: absolute;
  bottom: 42.57px;
  left: -39.66px;
}

@media (max-width: 840px) {
  .slider__button-right {
    bottom: 29.44px;
    left: -35.4px;
  }
}

@media (max-width: 620px) {
  .slider__button-right {
    bottom: 17.06px;
    left: -20.4px;
  }
}