.news-card__image {
  width: 182px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  align-self: center;
}

@media all and (max-width: 840px) {
  .news-card__image {
    width: 135px;
    height: 104px;
  }
}

@media all and (max-width: 620px) {
  .news-card__image {
    width: 102px;
    height: 79px;
  }
}
