.test__img-green-puzzle {
  position: absolute;
  top: -30px;
  left: 94px;
  transform: translate3d(0, 30px, 0);
  opacity: 0;
}

@media screen and (max-width: 889px) {
  .test__img-green-puzzle {
    left: 16px;
    top: -120px;
    width: 183px;
  }
}

@media screen and (max-width: 610px) {
  .test__img-green-puzzle {
    left: 0px;
    top: 40px;
    width: 112px;
    height: 114px;
    transform: rotate(180deg) scaleX(-1) translate3d(0, -30px, 0);
    object-fit: cover;
    object-position: left top;
  }
}
