.news__heading {
  text-transform: uppercase;
  font-style: normal;
  color: #00926f;
  font-size: 43px;
  font-weight: 700;
  line-height: normal;
  margin: 37px 128px 12px 0;
  align-self: flex-end;
}

@media all and (max-width: 840px) {
  .news__heading {
    font-size: 34px;
    margin: 26px 68px 8px 0;
  }
}

@media all and (max-width: 620px) {
  .news__heading {
    font-size: 23px;
    margin: 12px 41px 5px 0;
  }
}
