.test {
  margin-left: 64px;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  position: relative;
}

@media screen and (max-width: 889px) {
  .test {
    height: 180px;
  }
}

@media screen and (max-width: 610px) {
  .test {
    flex-direction: column;
    margin-left: 25px;
  }
}
