.slider {
  max-width: 745px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 66.78px;
  position: relative;
}

@media (max-width: 840px) {
  .slider {
    max-width: 496px;
    margin-bottom: 40.77px;
  }
}

@media (max-width: 620px) {
  .slider {
    margin-bottom: 24.63px;
  }
}

@media (max-width: 550px) {
  .slider {
    max-width: 400px;
  }
}

@media (max-width: 450px) {
  .slider {
    max-width: 236px;
  }
}
