.header__title {
  font-size: 25px;
  font-family: 'GolosUI-Bold', 'Arial', 'Helvetica', sans-serif;
  margin: -10px 0 0 14px;
  font-weight: 900;
}

@media screen and (max-width:850px) {
  .header__title {
    font-size: 21px;
    margin: -10px 0 0 3px;
  }
}

@media screen and (max-width:639px) {
  .header__title {
    font-size: 17px;
    margin: -9px 0 0 0;
  }
}
