.news-card__title {
  font-family: 'GolosUI-Bold', 'Arial', 'Helvetica', sans-serif;
  color: #5b5b5b;
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  line-height: normal;
  margin: 5px 0 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media all and (max-width: 840px) {
  .news-card__title {
    font-size: 8px;
  }
}

@media all and (max-width: 620px) {
  .news-card__title {
    font-size: 6px;
    margin: 4px 0 2px;
  }
}
