.map__title {
    color: #00926f;
    font-family: "Golos";
    font-weight: 700;
    font-size: 43px;
    text-transform: uppercase;
    margin: 0;
    padding-left: 105px;
    padding-bottom: 10px;
    padding-top: 50px;
}

@media (max-width: 640px) {
    .map__title {
        font-size: 34px;
        padding-left: 40px;
        padding-bottom: 8px;
    }
}

@media (max-width: 320px) {
    .map__title {
        font-size: 23px;
        padding-left: 23px;
        padding-bottom: 8px;
    }
}
