.slider__arrow-prev {
  background-image: url("../../../images/button-slider-right.svg");
  position: absolute;
  top: 33.26px;
  left: -39.66px;
}

@media (max-width: 840px) {
  .slider__arrow-prev {
    top: 29.8px;
    left: -25.53px;
  }
}

@media (max-width: 620px) {
  .slider__arrow-prev{
    top: 16.09px;
    left: -12.05px;
  }
}
