.page__title {
  text-transform: uppercase;
  font-style: normal;
  color: #00926f;
  font-size: 43px;
  font-weight: 700;
  line-height: normal;
}

@media all and (max-width: 840px) {
  .page__title {
    font-size: 34px;
  }
}

@media all and (max-width: 620px) {
  .page__title {
    font-size: 23px;
  }
}
