.splide__arrow {
  background: none;
  width: 14px;
  height: 27px;
  fill: #fefefe;
}

@media all and (max-width: 840px) {
  .splide__arrow {
    width: 13px;
    height: 25px;
  }
}
.splide__arrow--prev {
  background-image: url('../../../images/project_left_button.svg');
  background-repeat: no-repeat;
  position:absolute;
  top: 50%;
  left: 6px;
}

.splide__arrow--next {
  background-image:url('../../../images/project_right_button.svg');
  background-repeat: no-repeat;
  position:absolute;
  top: 50%;
  right: 6px;
}

.splide__pagination__page {
  display: none;
}
